<div class="wrapper">
  <div class="page-header" style="background-image: url('../assets/img/login-image.jpg');">
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
          <div class="card card-register">
            <h3 class="title">Welcome</h3>
            <div class="social-line text-center">
              <a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
              <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                                    <i class="fa fa-google-plus"></i>
                                </a>
              <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
                                    <i class="fa fa-twitter"></i>
                                </a>
            </div>

            <!--====================== LOGIN ======================-->
            <form (ngSubmit)="startLoginAjax()" class="register-form">
              <label for="username-input"> Username </label>
              <input id="username-input" type="text" class="form-control" placeholder="e.g. batman" [(ngModel)]="theUser.username" name="userInput" />

              <label for="password-input"> Password </label>
              <input id="password-input" type="password" class="form-control" placeholder=" *******" [(ngModel)]="theUser.password" name="passInput" />
              <button class="btn btn-danger btn-block btn-round"> Log In </button>
            </form>
            <!--====================== LOGIN ======================-->

            <div class="forgot">
              <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer register-footer text-center">
        <h6> Made with <i class="fa fa-heart heart"></i> by Ariel Fonticiella. </h6>
      </div>
    </div>
  </div>
</div>
