<div class="section section-buttons">
    <div class="container">
        <div class="tim-title">

          <div class="main">
              <div class="section text-center">
              <div class="container">
                  <div class="row">
                      <div class="col-md-8 mr-auto ml-auto">
                          <h2 class="title">Let's talk product</h2>
                          <h5 class="description"> So let's get right to the point. What IS Regala.ME? Essentially, Regala.ME is a tool used to ensure two things: <br /> <br /> 1) you never forget to get someone a gift on any occasion, and <br /> 2) free up time by taking the hassal of shopping and simply automating it. <br /><br /> WHAT A TIME TO BE ALIVE!  </h5>
                          <br>
                          <a href="#" class="btn btn-danger btn-round">See It Here</a>
                      </div>
                  </div>
                  <br/><br/>
                  <div class="row">
                      <div class="col-md-3">
                          <div class="info">
                              <div class="icon icon-danger">
                                  <i class="nc-icon nc-album-2"></i>
                              </div>
                              <div class="description">
                                  <h4 class="info-title">Personal Calendar</h4>
                                  <p class="description">Spend your time generating new ideas, not shopping. You don't have to think about whether you're missing someone's birthday, or anniversary. Let Regala.ME stress for you!.</p>
                                  <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="info">
                              <div class="icon icon-danger">
                                  <i class="nc-icon nc-bulb-63"></i>
                              </div>
                              <div class="description">
                                  <h4 class="info-title">New Ideas</h4>
                                  <p>Don't have any idea what to get that special someone? Let Regala.Me suggest gifts for you based on their interest! Socks might be a fun idea, but GLOW IN THE DARK socks are just plain awesome! We will suggest it.</p>
                                  <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="info">
                              <div class="icon icon-danger">
                                  <i class="nc-icon nc-chart-bar-32"></i>
                              </div>
                              <div class="description">
                                  <h4 class="info-title">Wish List</h4>
                                  <p>Choose from a veriety of many items based on individual's Wish List. The best give to give, is one that people actually want. Why not simply grant their wish and move on with your day!</p>
                                  <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="info">
                              <div class="icon icon-danger">
                                  <i class="nc-icon nc-sun-fog-29"></i>
                              </div>
                              <div class="description">
                                  <h4 class="info-title">Notifications</h4>
                                  <p>Decided against buying the gift after all? Regala.ME will send you a notification 3 days prior to your order being placed giving you the option to cancel.</p>
                                  <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                              </div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
</div>
