<div class="wrapper">
  <div class="page-header" style="background-image: url('../assets/img/406H.jpg');">
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
          <div class="card card-register">
            <h3 class="title">Edit Your Profile</h3>

            <!--====================== EDIT PROFILE ======================-->

              <!-- <label for="name-edit">Name</label>
              <input id="name-edit" type="text" class="form-control" [(ngModel)]="" name="nameInput" />

              <label for="start-date-input">Start Date</label>
              <input id="start-date-input" type="text" class="form-control" placeholder="e.g. 12/25/2017" [(ngModel)]="theGifted.birthday" name="startInput" />

              <button class="btn btn-danger btn-block btn-round"> Submit </button> -->

            <!--====================== EDIT PROFILE ======================-->

          </div>
        </div>
      </div>
      <div class="footer register-footer text-center">
        <h6> Made with <i class="fa fa-heart heart"></i> by Ariel Fonticiella. </h6>
      </div>
    </div>
  </div>
</div>
