<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="#">Regala.ME</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
              <span *ngIf="userThang.currentUser">
                <li class="nav-item" *ngIf="!isDocumentation()">
                  <a class="nav-link" rel="tooltip" data-placement="bottom" routerLink="/user-profile">
                    My Profile
                  </a>
                </li>
              </span>

                  <span>
                  <li class="nav-item" *ngIf="!isDocumentation()">
                      <a *ngIf="userThang.currentUser" (click)="startLogOutAjax()" class="nav-link" rel="tooltip" title="Logout" data-placement="bottom" >
                          Log out
                      </a>
                  </li>
                </span>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com" target="_blank">
                        <i class="fa fa-twitter"></i>
                        <p class="d-lg-none">Twitter</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                        <p class="d-lg-none">Facebook</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com" target="_blank">
                        <i class="fa fa-instagram"></i>
                        <p class="d-lg-none">Instagram</p>
                    </a>
                </li>
                <span *ngIf="!userThang.currentUser">
                  <li class="nav-item" *ngIf="!isDocumentation()">
                    <div ngbDropdown class="d-inline-block dropdown">
                        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Sign Up / Log In</a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                            <a routerLink="/signup" class="dropdown-item">No Account? Sign Up Now!</a>
                            <a routerLink="/login"class="dropdown-item">Have an Account? Log In!</a>
                        </div>
                    </div>
                  </li>
                </span>
            </ul>
        </div>
    </div>
</nav>
